# mod revrite starts here

RewriteEngine on

# does not apply to existing directories, meaning if the folder exist on the server then dont change anything and dont run the rule!

RewriteCond %{REQUEST_FILENAME} !-d

# check for file in the directory with the .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

# here we show the page that have the .html extension

RewriteRule ^(.\*)$ $1.html [NC,L]

